.cards {
    display: flex;
    flex-direction: column;
    gap: 1em;
    
}
.cardsPrev {
    display: flex;
    flex-direction: row;
    gap: 1em;
    justify-content: center;
    
}

button {color: white}

/* ul {
    display: flex;
    flex-direction: column;
} */

li {

    list-style-type: none;    
}

/* .cards-visible {
    display: none;
} */

