.create-button {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #3978e5;
    color: white;
    transition: transform 0.2s ease-in-out;

    padding-inline: 2rem;
    margin-left: auto;
}

button:hover {
    /* background-color: #125ee1; */
    transform: scale(1.05);
}
